<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <div th:insert="~{index :: navbar}"></div>


    <div class="container">
        <div class="row justify-content-center align-items-start min-vh-100 mb-5 pb-4">
            <!-- Colonna per il contenuto principale dell'articolo -->
            <div class="col-md-8 col-lg-6 col-xl-6 col-12 mt-5 pt-4">
                <div class="card">

                    <img class="card-img-top" width="100%" height="380px" th:if="${article.image != null}"
                        th:src="${article.image.path}" alt="Immagine dell'articolo">

                    <img class="card-img-top" width="100%" height="380px" th:unless="${article.image != null}"
                        th:src="@{/images/default.jpg}" alt="Immagine di default">

                    <div class="card-body">

                        <h5 class="card-title" th:text="${article.title}"></h5>

                        <p class="card-text" th:text="${article.subtitle}"></p>

                        <a class="nav-link nav-item card-text"
                            th:href="@{/categories/search/{id}(id=${article.category.id})}"
                            th:text="${article.category.name}">

                            <p class="card-text" th:text="${article.body}"></p>

                            <p class="card-text" th:text="${article.publishDate}"></p>

                            <p class="card-text" th:text="${article.user.username}"></p>

                            <!-- versione thymeleaf -->
                            <a th:href="@{/articles}" class="btn btn-primary">Torna agli articoli</a>
                            <!-- versione javascript -->
                            <a class="btn btn-primary pointer" onclick="goBack()">Torna agli articoli</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{index :: footer}"></div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gyb6kFZ1q8A8PU5Y2/OhfXy2g9B6sVZ2zAmf5b3Wgp6vXjFPC4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>