<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
    <div th:insert="~{index :: navbar}"></div>

    <div class="min-vh-100">
        <div class="containert">
            <div th:if="${param.notAuthorized}">
                <div class="aler alert-danger text-danger">Non sei autorizzato</div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-8">
                    <div th:if="${successMessage}" class="alert alert-success text-success my-2">
                        <p th:text="${successMessage}" class="text-center"></p>
                    </div>
                    <div th:if="${message}" class="alert alert-danger text-danger">
                        <p th:text="${message}"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div th:insert="~{index :: footer}"></div>

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gyb6kFZ1q8A8PU5Y2/OhfXy2g9B6sVZ2zAmf5b3Wgp6vXjFPC4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>